[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vcatafesta/Área de trabalho/winbox64.exe]
row=4
col=0

[/home/vcatafesta/Área de trabalho/ppp-profile.rsc]
row=7
col=0

[/home/vcatafesta/Área de trabalho/netinstall64.exe]
row=10
col=0

[/home/vcatafesta/Área de trabalho/assets]
row=0
col=1

[/home/vcatafesta/Área de trabalho/ipfire.rsc]
row=9
col=0

[/home/vcatafesta/Área de trabalho/secret.rsc]
row=8
col=0

[/home/vcatafesta/Área de trabalho/WinBox]
row=11
col=0

[848257f4-1ea2-4eae-8f64-64d096bb8e09]
row=3
col=0

[447a8195-aab1-4269-9e01-fd4a7e8d8887]
row=5
col=0

[3694F7FB94F7BB85]
row=6
col=0

[Lixeira]
row=1
col=0

[/]
row=2
col=0

[/home/vcatafesta]
row=0
col=0

