[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vcatafesta/Área de trabalho/netflix-com-32681-webapp-biglinux-custom.desktop]
row=7
col=1

[/home/vcatafesta/Área de trabalho/netflix-com-31514-webapp-biglinux-custom.desktop]
row=5
col=1

[/home/vcatafesta/Área de trabalho/winbox64.exe]
row=5
col=0

[/home/vcatafesta/Área de trabalho/netflix-com-21977-webapp-biglinux-custom.desktop]
row=3
col=1

[/home/vcatafesta/Área de trabalho/web-whatsapp-com-26571-webapp-biglinux-custom.desktop]
row=10
col=0

[/home/vcatafesta/Área de trabalho/netflix-com-28998-webapp-biglinux-custom.desktop]
row=11
col=0

[/home/vcatafesta/Área de trabalho/netflix-com-20906-webapp-biglinux-custom.desktop]
row=6
col=1

[/home/vcatafesta/Área de trabalho/music-amazon-com-br-8127-webapp-biglinux-custom.desktop]
row=4
col=0

[/home/vcatafesta/Área de trabalho/netflix-com-23837-webapp-biglinux-custom.desktop]
row=1
col=1

[/home/vcatafesta/Área de trabalho/netflix-com-5402-webapp-biglinux-custom.desktop]
row=0
col=1

[/home/vcatafesta/Área de trabalho/web-whatsapp-com-24453-webapp-biglinux-custom.desktop]
row=2
col=1

[/home/vcatafesta/Área de trabalho/web-whatsapp-com-22726-webapp-biglinux-custom.desktop]
row=8
col=0

[/home/vcatafesta/Área de trabalho/netflix-com-29946-webapp-biglinux-custom.desktop]
row=6
col=0

[/home/vcatafesta/Área de trabalho/netflix-com-19704-webapp-biglinux-custom.desktop]
row=9
col=0

[/home/vcatafesta/Área de trabalho/netflix-com-20150-webapp-biglinux-custom.desktop]
row=7
col=0

[/home/vcatafesta/Área de trabalho/web-whatsapp-com-7350-webapp-biglinux-custom.desktop]
row=4
col=1

[848257f4-1ea2-4eae-8f64-64d096bb8e09]
row=3
col=0

[Lixeira]
row=1
col=0

[/]
row=2
col=0

[/home/vcatafesta]
row=0
col=0

